{% import _self as macros %}

{% macro activeClassOrNot(url) %}
    {% if url == app.request.requestUri %}active{% endif %}
{% endmacro %}

<div class="sidebar" data-color="purple">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="http://www.4xxi.com" class="simple-text">
            4xxi Keys
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="{{ macros.activeClassOrNot(path('password_index')) }}">
                <a href="{{ path('password_index') }}">
                    <i class="material-icons">folder_open</i>
                    <p>All Passwords</p>
                </a>
            </li>
            <li class="{{ macros.activeClassOrNot(path('password_index_by_group', {group: app.user.privateGroup.id})) }}">
                <a href="{{ path('password_index_by_group', {group: app.user.privateGroup.id}) }}">
                    <i class="material-icons">folder_open</i>
                    <p>My Passwords</p>
                </a>
            </li>
            {% for group in app.user.groups if group.id != app.user.privateGroup.id %}
                <li class="{{ macros.activeClassOrNot(path('password_index_by_group', {group: group.id})) }}">
                    <a href="{{ path('password_index_by_group', {group: group.id}) }}">
                        <i class="material-icons">folder_shared</i>
                        <p>{{ group.name }}</p>
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('group_new') }}">
                    <i class="material-icons">add_circle</i>
                    <p>Add group</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-background"></div>
</div>
